[Desktop Entry]
Name=Restart
Comment=Restart the system
GenericName=Restart
Keywords=Reboot
Exec=systemctl reboot
Icon=system-restart
Type=Application
Categories=System
X-Desktop-File-Install-Version=0.1
