[Desktop Entry]
Name=Suspend To Ram
Comment=Suspend the system to ram
GenericName=Suspend
Keywords=Sleep
Exec=systemctl suspend
Icon=system-suspend
Type=Application
Categories=System
X-Desktop-File-Install-Version=0.1
